@using RPG.Controllers.Common
@using RPG.Controllers.Extenstions
@using RPG.Models.RulebookModal
@model RPG.Models.ControllerDto.Creator.ClassAbilityByClassLevelDataDto

@{
    ViewBag.Title = "AbilityByClassLevel";
    Layout = "~/Views/Shared/CreatorLayoutPage.cshtml";
}

@using (Html.BeginForm("Save", "ClassAbilityByClassLevel", FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <div class="row">
                            <h2>Ability by level for '@Model.SelectedItem.Name'</h2>
                            @Html.HiddenFor(m => m.SelectedItem.ID)
                            @Html.HiddenFor(m => m.SelectedAbilityByClassLevel.ID)
                            @Html.LabelForRequired(m => m.SelectedAbilityByClassLevel.AvailableAtLevel,"Level:") 
                            @Html.TextBoxFor(m => m.SelectedAbilityByClassLevel.AvailableAtLevel,HtmlConfiguration.TextBoxFor_Number)
                            @Html.ValidationMessageFor(m => m.SelectedAbilityByClassLevel.AvailableAtLevel)
                        </div>
                        <div class="row">
                            <label>Ability:</label>
                            @Html.DropDownListFor(m => m.Ability,new SelectList(Model.AllAbilities, "ID", "Name", Model.Ability),HtmlConfiguration.DropDownListFor)
                        </div>
                    </div>
                    <button class="btn btn-primary">Save</button>
                    <a class="btn btn-primary" href="@Url.Action("Index", new
                                                     {
                                                         id = Model != null && Model.SelectedItem != null ? Model.SelectedItem.ID : (Guid?)null,
                                                         abilityByLevelId = Guid.Empty,
                                                     })">New</a>
                    @Html.ActionLink("Delete","Delete","ClassAbilityByClassLevel",new
                    {
                        id = Model != null && Model.SelectedItem != null ? Model.SelectedItem.ID : (Guid?)null,
                        abilityByLevelId = Model != null && Model.SelectedAbilityByClassLevel != null ? Model.SelectedAbilityByClassLevel.ID : (Guid?)null,
                                                         
                    },HtmlConfiguration.ActionLink_Button)
                </div>
                <div class="col-xs-12 col-md-3 col-md-offset-1">
                    <h2>Existing abilities</h2>
                    <div class="row">
                        <div class="col-xs-12 btn-group">
                            @if (Model != null && Model.CurrentAbilities != null)
                            {
                                foreach (var syn in Model.CurrentAbilities)
                                {
                                    <a class="btn btn-primary btn-block" href="@Url.Action("Index", new { 
                                                                                   id = Model != null && Model.SelectedItem !=null ? Model.SelectedItem.ID : (Guid?)null, 
                                                                                   abilityByLevelId = @syn.ID })">@syn.Name</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}