@using RPG.Controllers.Common
@using RPG.Controllers.Extenstions
@using RPG.Models.RulebookModal
@model RPG.Models.ControllerDto.Creator.ItemMaterialBonusDataDto

@{
    ViewBag.Title = "ItemMaterialBonues";
    Layout = "~/Views/Shared/CreatorLayoutPage.cshtml";
}

@using (Html.BeginForm("Save", "ItemMaterialBonus", FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <div class="row">
                            <h2>Add bonues that apply to '@Model.SelectedItemMaterial.Name'</h2>
                            @Html.HiddenFor(m => m.SelectedItemMaterial.ID)
                            @Html.HiddenFor(m => m.SelectedItem.ID)
                            @Html.LabelForRequired(m => m.SelectedItem.Name) 
                            @Html.TextBoxFor(m => m.SelectedItem.Name,HtmlConfiguration.TextBoxFor_Text)
                            @Html.ValidationMessageFor(m => m.SelectedItem.Name)
                        </div>
                        <div class="row">
                            <label>Description:</label>
                            @Html.TextAreaFor(m => m.SelectedItem.Description,HtmlConfiguration.TextBoxFor_Text)
                        </div>
                        <div class="row">
                            <label>Item type:</label>
                            @Html.DropDownListFor(a => a.SelectedItem.ApplyToItemType, Tools.ItemTypeAsSelectList(), HtmlConfiguration.DropDownListFor)
                        </div>
                        <div class="row">
                            <label>Apply only if item requires ability</label>
                            @Html.DropDownListFor(a => a.SelectedItem.RequiredAbility, new SelectList(Model.SpecialAbilities, "ID", "Name"),"--Non--", HtmlConfiguration.ListBoxFor_SelectSingle)
                        </div>
                        <div class="row">
                            <label>Bonuses:</label>
                            @Html.ListBoxFor(m => m.GrantedBonues, new SelectList(Model.AllBonuses, "ID", "Name", Model.GrantedBonues), HtmlConfiguration.ListBoxFor_SelectMultiple)
                        </div>
                    </div>
                    <button class="btn btn-primary">Save</button>
                    <a class="btn btn-primary" href="@Url.Action("Index", new
                                                     {
                                                         id = Model != null && Model.SelectedItemMaterial != null ? Model.SelectedItemMaterial.ID : (Guid?)null,
                                                         itemMaterialBonuesId = Guid.Empty,
                                                     })">New</a>
                    @Html.ActionLink("Delete","Delete","ItemMaterialBonus",new
                    {
                        id = Model != null && Model.SelectedItemMaterial != null ? Model.SelectedItemMaterial.ID : (Guid?)null,
                        itemMaterialBonuesId = Model != null && Model.SelectedItem != null ? Model.SelectedItem.ID : (Guid?)null,
                                                         
                    },HtmlConfiguration.ActionLink_Button)
                </div>
                <div class="col-xs-12 col-md-3 col-md-offset-1">
                    <h2>Existing bonuses</h2>
                    <div class="row">
                        <div class="col-xs-12 btn-group">
                            @if (Model != null && Model.RelatedBonuses != null)
                            {
                                foreach (var syn in Model.RelatedBonuses)
                                {
                                    <a class="btn btn-primary btn-block" href="@Url.Action("Index", new { 
                                                                                   id = Model != null && Model.SelectedItemMaterial !=null ? Model.SelectedItemMaterial.ID : (Guid?)null, 
                                                                                   itemMaterialBonuesId = @syn.ID })">@syn.Name</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}