@using RPG.Controllers.Common
@using RPG.Controllers.Extenstions
@model RPG.Models.ControllerDto.Creator.SkillDataDto

@{
    ViewBag.Title = "Skill";
    Layout = "~/Views/Shared/CreatorLayoutPage.cshtml";
}

@using (Html.BeginForm("Save", "Skill", FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-12">
            <h2>Add skill</h2>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.HiddenFor(m => m.SelectedItem.ID)
                            @Html.LabelForRequired(m => m.SelectedItem.Name) 
                            @Html.TextBoxFor(m => m.SelectedItem.Name,HtmlConfiguration.TextBoxFor_Text)
                            @Html.ValidationMessageFor(m => m.SelectedItem.Name)
                        </div>
                        <div class="row">
                            <label>Description:</label>
                            @Html.TextAreaFor(m => m.SelectedItem.Description,HtmlConfiguration.TextBoxFor_Text)
                        </div>
                        <div class="row">
                            <label>Skill modifier:</label>
                            @Html.DropDownListFor(a => a.SelectedAbility,new SelectList(Model.AbilityOptions, "ID", "Name"),HtmlConfiguration.DropDownListFor)  
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <label>Skill settings:</label>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="checkbox">
                                            <label class="btn btn-default width100">
                                                @Html.CheckBoxFor(m => m.SelectedItem.UseUntrained)
                                                Use Untrained
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="checkbox">
                                            <label class="btn btn-default width100">
                                                @Html.CheckBoxFor(m => m.SelectedItem.ArmorCheckPeneltyApply)
                                                ACP Apply
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="checkbox">
                                            <label class="btn btn-default width100">
                                                @Html.CheckBoxFor(m => m.SelectedItem.ArmorCheckPeneltyApplyDouble)
                                                ACP Apply Double
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="checkbox">
                                            <label class="btn btn-default width100">
                                                @Html.CheckBoxFor(m => m.SelectedItem.RequiresMovement)
                                                Requires movement? (For shield proficiency)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary">Save</button>
                    <a class="btn btn-primary" href="@Url.Action("Index", new { id = (Guid?)null })">New</a>
                    @Html.ActionLink("Delete","Delete","Skill",new { id = Model != null && Model.SelectedItem != null ? Model.SelectedItem.ID : (Guid?)null},HtmlConfiguration.ActionLink_Button)
                    @Html.ActionLink("Edit synergi","Index","SkillSynergi",new { id = Model != null && Model.SelectedItem != null ? Model.SelectedItem.ID : (Guid?)null,skillSynergiID = Guid.Empty},HtmlConfiguration.ActionLink_Button)
                </div>
            </div>
            
        </div>
    </div>
}