@model RPG.Models.CharacterModal.Character
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:20%">Ability</th>
            <th style="width:20%">Score</th>
            <th style="width:20%">Modifier</th>
            <th style="width:20%">Temp Score</th>
            <th style="width:20%">Temp Modifier</th>
        </tr>
    </thead>
    @foreach(var a in Model.GetAbilities())
    {
        <tr>
            <th>@a.Name</th>
            <th class="pop" data-container="body" data-toggle="popover" data-placement="bottom" data-content="@Html.Raw(@a.Base.GetCalculation())">@a.Base.GetValue()</th>
            <th>@a.BaseMod</th>
            <th class="pop" data-container="body" data-toggle="popover" data-placement="bottom" data-content="@Html.Raw(@a.Current.GetCalculation())">@a.Current.GetValue()</th>
            <th>@a.CurrentMod</th>
        </tr>
    }
</table>